<?xml version="1.0" encoding="iso8859-1" ?>
<tombraider>

	<!-- TR1 -->
	<game id="TR1">
		<global>
			<sky>
				<id>-1</id>
				<color><r>255</r><g>255</g><b>255</b></color>
			</sky>
			<water>
				<colorin><r>153</r><g>153</g><b>204</b></colorin>
				<colorout><r>153</r><g>153</g><b>204</b></colorout>
			</water>
			<camera>
				<fov>70</fov>
				<neardist>50</neardist>
				<fardist>300000</fardist>
			</camera>
			<fog>
				<neardist>14000</neardist>
				<fardist>21000</fardist>
				<color><r>0</r><g>0</g><b>0</b></color>
			</fog>
			<lara>
				<id>0</id>
			</lara>
			<moveables>
				<moveable id="0">
					<behaviour name="BasicControl">
						<scale><move>4000</move><rotation>100</rotation><mouserotation>0.13</mouserotation></scale>
					</behaviour>
					<behaviour name="Lara">
						<dirdist>1430</dirdist>
						<updist>1000</updist>
						<lara>
							<height>750</height>
						</lara>
						<pistol_anim>
							<id>1</id>
							<left_thigh>2</left_thigh>
							<right_thigh>5</right_thigh>
							<left_hand>14</left_hand>
							<right_hand>11</right_hand>
						</pistol_anim>
					</behaviour>
					<behaviour name="Flare">
						<offset><x>0</x><y>0</y><z>0</z></offset>
						<color><r>255</r><g>255</g><b>255</b></color>
						<range><max>2000</max><inner>500</inner></range>
						<blink>yes</blink>
						<objects_only>no</objects_only>
						<global>yes</global>
					</behaviour>
				</moveable>
			</moveables>
			<cutscene>
				<animminid>77</animminid>
				<animmaxid>80</animmaxid>
			</cutscene>
		</global>
		<levels>
			<!-- Standard levels -->
			<level id="gym"			type="normal"	name="Lara's Home"/>
			<level id="level1"		type="normal"	name="Caves"/>
			<level id="level2"		type="normal"	name="City of Vilcabamba"/>
			<level id="level3a"		type="normal"	name="The Lost Valley">
				<rendering>
					<texture_correction>2</texture_correction>
				</rendering>
			</level>
			<level id="level3b"		type="normal"	name="Tomb of Qualopec"/>
			<level id="level4"		type="normal"	name="St Francis' Folly"/>
			<level id="level5"		type="normal"	name="Colosseum"/>
			<level id="level6"		type="normal"	name="Palace Midas"/>
			<level id="level7a"		type="normal"	name="Cistern"/>
			<level id="level7b"		type="normal"	name="Tomb of Tihocan"/>
			<level id="level8a"		type="normal"	name="City of Khamoon"/>
			<level id="level8b"		type="normal"	name="Obelisk of Khamoon"/>
			<level id="level8c"		type="normal"	name="Sanctuary of the Scion"/>
			<level id="level10a"	type="normal"	name="Natla's Mines"/>
			<level id="level10b"	type="normal"	name="Atlantis"/>
			<level id="level10c"	type="normal"	name="The Great Pyramid"/>
			<level id="title"		type="normal"	name="Title display"/>
			<level id="cut1"		type="cutscene" name="Larson vs. Lara">
				<lara>
					<id>77</id>
				</lara>
				<moveables>
					<moveable id="77">
						<angle>90</angle>
						<behaviour name="Lara">
							<pistol_anim>
								<id>1</id>
								<left_thigh>2</left_thigh>
								<right_thigh>5</right_thigh>
								<left_hand>14</left_hand>
								<right_hand>11</right_hand>
							</pistol_anim>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="cut2"		type="cutscene" name="Lara reads Tihocan eulogy">
				<lara>
					<id>77</id>
				</lara>
				<moveables>
					<moveable id="77">
						<angle>-90</angle>
						<behaviour name="Lara">
							<pistol_anim>
								<id>1</id>
								<left_thigh>2</left_thigh>
								<right_thigh>5</right_thigh>
								<left_hand>14</left_hand>
								<right_hand>11</right_hand>
							</pistol_anim>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="cut3"		type="cutscene" name="Natla installs Scion">
				<globaltintcolor><r>25</r><g>25</g><b>25</b></globaltintcolor>
				<lara>
					<id>77</id>
				</lara>
				<moveables>
					<moveable id="77">
						<behaviour name="Lara">
							<pistol_anim>
								<id>1</id>
								<left_thigh>2</left_thigh>
								<right_thigh>5</right_thigh>
								<left_hand>14</left_hand>
								<right_hand>11</right_hand>
							</pistol_anim>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="cut4"		type="cutscene" name="Lara vs. Natla">
				<lara>
					<id>77</id>
				</lara>
				<moveables>
					<moveable id="77">
						<behaviour name="Lara">
							<pistol_anim>
								<id>1</id>
								<left_thigh>2</left_thigh>
								<right_thigh>5</right_thigh>
								<left_hand>14</left_hand>
								<right_hand>11</right_hand>
							</pistol_anim>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<!-- Gold levels -->
			<level id="egypt"		type="normal"	name="Return to Egypt"		gold="1"/>
			<level id="cat"			type="normal"	name="Temple of the Cat"	gold="1"/>
			<level id="end"			type="normal"	name="Atlantean Stronghold" gold="1"/>
			<level id="end2"		type="normal"	name="The Hive"				gold="1"/>
		</levels>
	</game>
	
	<!-- TR2 -->
	<game id="TR2">
		<global>
			<sky>
				<color><r>255</r><g>255</g><b>255</b></color>
				<objectid>254</objectid>
			</sky>
			<water>
				<colorin><r>153</r><g>255</g><b>306</b></colorin>
				<colorout><r>153</r><g>255</g><b>306</b></colorout>
			</water>
			<camera>
				<fov>70</fov>
				<neardist>50</neardist>
				<fardist>300000</fardist>
			</camera>
			<fog>
				<neardist>14000</neardist>
				<fardist>21000</fardist>
				<color><r>0</r><g>0</g><b>0</b></color>
			</fog>
			<meshswap>
				<objid1>97</objid1>
				<objid2>98</objid2>
				<objid3>99</objid3>
			</meshswap>
			<moveables>
				<moveable id="0">
					<behaviour name="BasicControl">
						<scale><move>4000</move><rotation>100</rotation><mouserotation>0.13</mouserotation></scale>
					</behaviour>
					<behaviour name="Lara">
						<dirdist>1200</dirdist>
						<updist>1000</updist>
						<lara>
							<animid>0</animid>
							<visuid>0</visuid>
							<height>750</height>
						</lara>
						<pistol_anim>
							<id>1</id>
							<left_thigh>2</left_thigh>
							<right_thigh>5</right_thigh>
							<left_hand>14</left_hand>
							<right_hand>11</right_hand>
						</pistol_anim>
					</behaviour>
					<behaviour name="Flare">
						<offset><x>0</x><y>0</y><z>0</z></offset>
						<color><r>255</r><g>255</g><b>255</b></color>
						<range><max>2000</max><inner>500</inner></range>
						<blink>yes</blink>
						<objects_only>no</objects_only>
						<global>yes</global>
					</behaviour>
				</moveable>
				<moveable id="253">
					<spritesequence>252</spritesequence>
					<behaviour name="ParticleSystem">
						<particlesys_name>TRPlayer/Fire</particlesys_name>
						<particlesys_offset><x>0</x><y>0</y><z>0</z></particlesys_offset>
					</behaviour>
				</moveable>
			</moveables>
			<cutscene>
				<animminid>123</animminid>
				<animmaxid>132</animmaxid>
			</cutscene>
		</global>
		<levels>
			<!-- Standard levels -->
			<level id="assault"		type="normal"	name="Lara's Home"/>
			<level id="wall"		type="normal"	name="The Great Wall">
				<moveables>
					<moveable id="253">
						<behaviour name="ParticleSystem">
							<particlesys_name>TRPlayer/Smoke</particlesys_name>
							<particlesys_offset><x>0</x><y>-50</y><z>0</z></particlesys_offset>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="boat"		type="normal"	name="Venice"/>
			<level id="venice"		type="normal"	name="Bartoli's Hideout"/>
			<level id="opera"		type="normal"	name="Opera House"/>
			<level id="rig"			type="normal"	name="Offshore Rig"/>
			<level id="platform"	type="normal"	name="Diving Area"/>
			<level id="unwater"		type="normal"	name="40 Fathoms"/>
			<level id="keel"		type="normal"	name="Wreck of the Maria Doria"/>
			<level id="living"		type="normal"	name="Living Quarters"/>
			<level id="deck"		type="normal"	name="The Deck"/>
			<level id="skidoo"		type="normal"	name="Tibetan Foothills"/>
			<level id="monastry"	type="normal"	name="Barkhang Monastery">
				<moveables>
					<moveable id="253">
						<behaviour name="ParticleSystem">
							<particlesys_name>TRPlayer/Fire</particlesys_name>
							<particlesys_offset><x>0</x><y>-200</y><z>0</z></particlesys_offset>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="catacomb"	type="normal"	name="Catacombs of the Talion"/>
			<level id="icecave"		type="normal"	name="Ice Palace"/>
			<level id="emprtomb"	type="normal"	name="Temple of Xian"/>
			<level id="floating"	type="normal"	name="Floating Islands"/>
			<level id="xian"		type="normal"	name="Dragon's Lair"/>
			<level id="house"		type="normal"	name="Home Sweet Home"/>
			<level id="title"		type="normal"	name="Title display"/>
			<level id="cut1"		type="cutscene"	name="At the Fancy Door">
				<moveables>
					<moveable id="253">
						<behaviour name="ParticleSystem">
							<particlesys_name>TRPlayer/Smoke</particlesys_name>
							<particlesys_offset><x>0</x><y>0</y><z>0</z></particlesys_offset>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="cut2"	type="cutscene"	name="Lara the Stowaway"/>
			<level id="cut3"	type="cutscene"	name="Bartoli vs. Monk"/>
			<level id="cut4"	type="cutscene"	name="Bartoli Stabs Himself">
				<moveables>
					<moveable id="253">
						<behaviour name="ParticleSystem">
							<particlesys_name>TRPlayer/Fire</particlesys_name>
							<particlesys_offset><x>0</x><y>-1350</y><z>0</z></particlesys_offset>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<!-- Gold levels -->
			<level id="level1"		type="normal"	name="The Cold War"			gold="1"/>
			<level id="level2"		type="normal"	name="Fool's Gold"			gold="1"/>
			<level id="level3"		type="normal"	name="Furnace of the Gods"	gold="1"/>
			<level id="level4"		type="normal"	name="Kingdom"				gold="1"/>
			<level id="level5"		type="normal"	name="Nightmare in Vegas"	gold="1"/>
		</levels>
	</game>
	
	<!-- TR3 -->
	<game id="TR3">
		<global>
			<sky>
				<color><r>255</r><g>255</g><b>255</b></color>
				<objectid>355</objectid>
				<removepoly><start>16</start><num>16</num></removepoly>
				<noanim>true</noanim>
			</sky>
			<water>
				<colorin><r>153</r><g>255</g><b>306</b></colorin>
				<colorout><r>153</r><g>255</g><b>306</b></colorout>
			</water>
			<camera>
				<fov>70</fov>
				<neardist>50</neardist>
				<fardist>300000</fardist>
			</camera>
			<fog>
				<neardist>14000</neardist>
				<fardist>21000</fardist>
				<color><r>0</r><g>0</g><b>0</b></color>
			</fog>
			<meshswap>
				<objid1>122</objid1>
				<objid2>123</objid2>
				<objid3>124</objid3>
			</meshswap>
			<moveables>
				<moveable id="0">
					<visuid>315</visuid>
					<behaviour name="BasicControl">
						<scale><move>4000</move><rotation>100</rotation><mouserotation>0.13</mouserotation></scale>
					</behaviour>
					<behaviour name="Lara">
						<dirdist>1200</dirdist>
						<updist>1000</updist>
						<lara>
							<animid>0</animid>
							<height>750</height>
						</lara>
						<pistol_anim>
							<id>1</id>
							<left_thigh>2</left_thigh>
							<right_thigh>5</right_thigh>
							<left_hand>14</left_hand>
							<right_hand>11</right_hand>
						</pistol_anim>
					</behaviour>
					<behaviour name="Flare">
						<offset><x>0</x><y>0</y><z>0</z></offset>
						<color><r>255</r><g>255</g><b>255</b></color>
						<range><max>2000</max><inner>500</inner></range>
						<blink>yes</blink>
						<objects_only>no</objects_only>
						<global>yes</global>
					</behaviour>
				</moveable>
			</moveables>
			<cutscene>
				<animminid>148</animminid>
				<animmaxid>156</animmaxid>
			</cutscene>
		</global>
		<levels>
			<!-- Standard levels -->
			<level id="house"		type="normal"	name="Lara's Home"/>
			<level id="jungle"		type="normal"	name="Jungle"/>
			<level id="temple"		type="normal"	name="Temple Ruins"/>
			<level id="quadchas"	type="normal"	name="The River Ganges"/>
			<level id="tonyboss"	type="normal"	name="Caves of Kaliya"/>
			<level id="shore"		type="normal"	name="Coastal Village"/>
			<level id="crash"		type="normal"	name="Crash Site"/>
			<level id="rapids"		type="normal"	name="Madubu Gorge"/>
			<level id="triboss"		type="normal"	name="Temple of Puna"/>
			<level id="roofs"		type="normal"	name="Thames Wharf"/>
			<level id="sewer"		type="normal"	name="Aldwych"/>
			<level id="tower"		type="normal"	name="Lud's Gate"/>
			<level id="office"		type="normal"	name="City">
				<sky><noanim>false</noanim></sky>
			</level>
			<level id="nevada"		type="normal"	name="Nevada Desert"/>
			<level id="compound"	type="normal"	name="High Security Compound"/>
			<level id="area51"		type="normal"	name="Area 51"/>
			<level id="antarc"		type="normal"	name="Antarctica"/>
			<level id="mines"		type="normal"	name="RX-Tech Mines"/>
			<level id="city"		type="normal"	name="Lost City of Tinnos"/>
			<level id="chamber"		type="normal"	name="Meteorite Cavern">
				<sky><removepoly><num>0</num></removepoly></sky>
			</level>
			<level id="stpaul"		type="normal"	name="All Hallows">
				<sky><noanim>false</noanim></sky>
			</level>
			<level id="title"		type="normal"	name="Title display"/>
			<level id="cut1"		type="cutscene"	name="Lara Meets Amputated Mercenary"/>
			<level id="cut2"		type="cutscene"	name="Saved by the Bell">
				<moveables>
					<moveable id="0">
						<angle>90</angle>
					</moveable>
				</moveables>
			</level>
			<level id="cut3"		type="cutscene"	name="Lara gets the artifacts to Willard"/>
			<level id="cut4"		type="cutscene"	name="Lara confronts tribesman about artifact"/>
			<level id="cut5"		type="cutscene"	name="Lara meets the leader of the Damned"/>
			<level id="cut6"		type="cutscene"	name="Lara at Tony's camp">
				<moveables>
					<moveable id="0">
						<angle>-90</angle>
					</moveable>
				</moveables>
			</level>
			<level id="cut7"		type="cutscene"	name="Lara Drives Over Fence"/>
			<level id="cut8"		type="cutscene"	name="Lara the stowaway in a delivery truck"/>
			<level id="cut9"		type="cutscene"	name="Lara meets Tony again"/>
			<level id="cut11" 		type="cutscene"	name="Lara meets Sophia Lee"/>
			<level id="cut12" 		type="cutscene"	name="Lara watches Willard transform"/>
			<!-- Gold levels -->
			<level id="chunnel"		type="normal"	name="" gold="1"/>
			<level id="scotland"	type="normal"	name="" gold="1"/>
			<level id="slinc"		type="normal"	name="" gold="1"/>
			<level id="title"		type="normal"	name="" gold="1"/>
			<level id="undersea"	type="normal"	name="" gold="1"/>
			<level id="willsden"	type="normal"	name="" gold="1"/>
			<level id="zoo"			type="normal"	name="" gold="1"/>
		</levels>
	</game>
	
	<!-- TR4 -->
	<game id="TR4">
		<global>
			<sky>
				<color><r>255</r><g>255</g><b>255</b></color>
			</sky>
			<water>
				<colorin><r>255</r><g>255</g><b>255</b></colorin>
				<colorout><r>180</r><g>180</g><b>180</b></colorout>
			</water>
			<camera>
				<fov>70</fov>
				<neardist>50</neardist>
				<fardist>300000</fardist>
			</camera>
			<fog>
				<neardist>14000</neardist>
				<fardist>21000</fardist>
				<color><r>0</r><g>0</g><b>0</b></color>
			</fog>
			<rendering>
				<texture_correction>0</texture_correction>
				<scrolling_moveable>
					<start_id>423</start_id>
					<num>3</num>
				</scrolling_moveable>
			</rendering>
			<moveables>
				<moveable id="0">
					<visuid>8</visuid>
					<behaviour name="BasicControl">
						<scale><move>4000</move><rotation>100</rotation><mouserotation>0.13</mouserotation></scale>
					</behaviour>
					<behaviour name="Pick"/>
					<behaviour name="Lara">
						<dirdist>1430</dirdist>
						<updist>-600</updist>
						<lara>
							<animid>0</animid>
							<height>750</height>
						</lara>
						<pistol_anim>
							<id>-1</id>
							<left_thigh>-1</left_thigh>
							<right_thigh>-1</right_thigh>
							<left_hand>-1</left_hand>
							<right_hand>-1</right_hand>
						</pistol_anim>
					</behaviour>
					<behaviour name="Flare">
						<offset><x>0</x><y>0</y><z>0</z></offset>
						<color><r>0</r><g>255</g><b>0</b></color>
						<range><max>2000</max><inner>500</inner></range>
						<blink>yes</blink>
						<objects_only>no</objects_only>
						<global>yes</global>
					</behaviour>
					<behaviour name="Sky">
						<id>459</id>
					</behaviour>
				</moveable>
				<moveable id="144">
					<behaviour name="RemoveObject"/>
					<behaviour name="ParticleSystem">
						<particlesys_name>TRPlayer/Torch</particlesys_name>
						<particlesys_offset><x>0</x><y>0</y><z>250</z></particlesys_offset>
					</behaviour>
					<behaviour name="Light">
						<color><r>255</r><g>255</g><b>255</b></color>
						<range><max>2000</max><inner>500</inner></range>
						<blink>yes</blink>
						<objects_only>no</objects_only>
					</behaviour>
				</moveable>
				<moveable id="423">
					<behaviour name="StaticObject"/>
				</moveable>
				<moveable id="424">
					<behaviour name="StaticObject"/>
				</moveable>
				<moveable id="425">
					<behaviour name="StaticObject"/>
				</moveable>
				<moveable id="441">
					<behaviour name="StaticObject"/>
				</moveable>
				<moveable id="453">
					<behaviour name="StaticObject"/>
				</moveable>
			</moveables>
		</global>
		<levels>
			<level id="alexhub"		type="normal"	name="Alexandria"/>
			<level id="alexhub2"		type="normal"	name="Coastal Ruins"/>
			<level id="angkor1"		type="normal"	name="Angkor Wat">
				<uvrotate>yes</uvrotate>
			</level>
			<level id="ang_race"		type="normal"	name="Race For The Iris"/>
			<level id="bikebit"		type="normal"	name="City Of The Dead">
				<sky>
					<color><r>100</r><g>100</g><b>0</b></color>
				</sky>
				<moveables>
					<moveable id="0">
						<behaviour name="Sky">
							<id>-1</id>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="citnew"		type="normal"	name="Citadel">
				<sky>
					<color><r>100</r><g>100</g><b>0</b></color>
				</sky>
				<moveables>
					<moveable id="0">
						<behaviour name="Sky">
							<id>-1</id>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="cortyard"		type="normal"	name="Chambers Of Tulun">
				<sky>
					<color><r>100</r><g>100</g><b>0</b></color>
				</sky>
				<moveables>
					<moveable id="0">
						<behaviour name="Sky">
							<id>-1</id>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="csplit1"		type="normal"	name="Catacoms"/>
			<level id="csplit2"		type="normal"	name="Temple Of Poseidon"/>
			<level id="hall"			type="normal"	name="The Great Hypostyle Hall"/>
			<level id="highstrt"		type="normal"	name="Citadel Gate">
				<sky>
					<color><r>100</r><g>100</g><b>0</b></color>
				</sky>
				<moveables>
					<moveable id="0">
						<behaviour name="Sky">
							<id>-1</id>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="jeepchas"		type="normal"	name="Valley Of The Kings">
				<sky>
					<color><r>255</r><g>190</g><b>255</b></color>
				</sky>
			</level>
			<level id="jeepchs2"		type="normal"	name="KV5">
				<sky>
					<color><r>255</r><g>160</g><b>130</b></color>
				</sky>
			</level>
			<level id="joby1a"		type="normal"	name="The Sphinx Complex">
				<sky>
					<color><r>100</r><g>30</g><b>0</b></color>
				</sky>
				<moveables>
					<moveable id="0">
						<behaviour name="Sky">
							<id>-1</id>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="joby1b"		type="normal"	name="The Valley Temple">
				<sky>
					<color><r>100</r><g>30</g><b>0</b></color>
				</sky>
				<moveables>
					<moveable id="0">
						<behaviour name="Sky">
							<id>-1</id>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="joby2"		type="normal"	name="Underneath The Sphinx"/>
			<level id="joby3a"		type="normal"	name="Menkaure's Pyramid">
				<sky>
					<color><r>100</r><g>30</g><b>0</b></color>
				</sky>
				<moveables>
					<moveable id="0">
						<behaviour name="Sky">
							<id>-1</id>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="joby3b"		type="normal"	name="Inside Menkaure's Pyramid">
				<sky>
					<id>-1</id>
					<color><r>100</r><g>30</g><b>0</b></color>
				</sky>
			</level>
			<level id="joby4a"		type="normal"	name="The Mastabas">
				<sky>
					<color><r>100</r><g>30</g><b>0</b></color>
				</sky>
				<moveables>
					<moveable id="0">
						<behaviour name="Sky">
							<id>-1</id>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="joby4b"		type="normal"	name="The Great Pyramid">
				<sky>
					<color><r>100</r><g>30</g><b>0</b></color>
				</sky>
				<moveables>
					<moveable id="0">
						<behaviour name="Sky">
							<id>-1</id>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="joby4c"		type="normal"	name="Khufu's Queens Pyramids">
				<sky>
					<color><r>100</r><g>30</g><b>0</b></color>
				</sky>
				<moveables>
					<moveable id="0">
						<behaviour name="Sky">
							<id>-1</id>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="joby5a"		type="normal"	name="Inside The Great Pyramid"/>
			<level id="joby5b"		type="normal"	name="Temple Of Horus"/>
			<level id="joby5c"		type="normal"	name="Temple Of Horus"/>
			<level id="karnak1"		type="normal"	name="Temple Of Karnak"/>
			<level id="lake"			type="normal"	name="The Sacred Lake"/>
			<level id="libend"		type="normal"	name="Hall Of Demetrius"/>
			<level id="library"		type="normal"	name="The Lost Library"/>
			<level id="lowstrt"		type="normal"	name="Street Bazar">
				<sky>
					<color><r>100</r><g>100</g><b>0</b></color>
				</sky>
				<moveables>
					<moveable id="0">
						<behaviour name="Sky">
							<id>-1</id>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="nutrench"		type="normal"	name="New City">
				<sky>
					<color><r>100</r><g>100</g><b>0</b></color>
				</sky>
				<moveables>
					<moveable id="0">
						<behaviour name="Sky">
							<id>-1</id>
						</behaviour>
					</moveable>
				</moveables>
			</level>
			<level id="palaces"		type="normal"	name="Pharos,Temple Of Isis"/>
			<level id="palaces2"		type="normal"	name="Cleopatra´s Palaces"/>
			<level id="semer"		type="normal"	name="The Tomb of Semerkhet"/>
			<level id="semer2"		type="normal"	name="Guardian Of Semerket"/>
			<level id="settomb1"		type="normal"	name="The Tomb Of Seth"/>
			<level id="settomb2"		type="normal"	name="Burial Chambers"/>
			<level id="title"		type="normal"	name=""/>
			<level id="train"		type="normal"	name="Desert Railroad"/>
			<level id="title2"		type="normal"	name="">
				<sky>
					<color><r>255</r><g>160</g><b>130</b></color>
				</sky>
			</level>
		</levels>
	</game>
</tombraider>
